<section class="section download" id="download">
  <div class="container container-download">
    <p class="section-tag">Why Download</p>
    <h2 class="download-title">A perfect mix of puzzles and pirate adventures</h2>
    <p class="download-dscr">Pirate Match delivers more than classic match-3 gameplay. Every completed level brings players closer to hidden
    treasures, mysterious islands, and exciting pirate stories. With vibrant visuals, rewarding progression, and fresh
    challenges, every voyage feels like a new expedition across the high seas.</p>
    <a class="google-play-link download-link" target="_blank"
      href="https://play.google.com/store/apps/details?id=com.tactilegames.piratematch&hl=en&gl=us">
      Play on Google Play
    </a>
    </div>
  <!-- <img src="../img/download/octopus.png" srcset="../img/download/octopus.png 1x, ../img/download/octopus@2x.png 2x" alt="Pirate Octopus" class="download-octopus" width="127px" height="133px"> -->
</section>
