<footer class="footer">
  <div class="screen"></div>
  <div class="container footer-wrap">
    <a class="logo footer-logo" href="./index.html" aria-label="Site logo">
      <svg width="48" height="36">
        <use href="./img/sprite.svg#icon-logo"></use>
      </svg>
      Pirate Match
    </a>
    <hr class="footer-divider" />
    <div class="footer-content">
      <p class="copy">&copy; 2026 motiona.it.com — All rights reserved.</p>
      <ul class="footer-legal">
        <li><a class="legal-link" href="./privacy.html">Privacy Policy</a></li>
        <li>
          <a class="legal-link" href="./service.html">Terms of Service</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
