<section class="section section-bg" id="gameplay">
  <div class="section-bg-img gameplay-light"></div>
  <div class="section-bg-img gameplay-pirate-two"></div>
  <div class="container gameplay">
    <p class="section-tag gameplay-tag">Core Gameplay</p>
    <h2 class="section-title gameplay-title">
      Match, explore, and conquer the seas
    </h2>
    <div class="gameplay-swiper swiper" data-gameplay-swiper>
      <ul class="swiper-wrapper gameplay-list">
        <li class="swiper-slide gameplay-item">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img1.jpg"
            srcset="
              ./img/gameplay/gameplay-img1.jpg    1x,
              ./img/gameplay/gameplay-img1@2x.jpg 2x
            "
            alt="image of a colorful puzzle"
          />
          <div class="gameplay-content">
            <h3 class="gameplay-subtitle">Complete Match-3 Levels</h3>
            <p class="gameplay-text">
              Solve colorful puzzles with unique objectives.
            </p>
          </div>
        </li>
        <li class="swiper-slide gameplay-item">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img2.jpg"
            srcset="
              ./img/gameplay/gameplay-img2.jpg    1x,
              ./img/gameplay/gameplay-img2@2x.jpg 2x
            "
            alt="image of an exotic islands"
            loading="lazy"
          />
          <div class="gameplay-content">
            <h3 class="gameplay-subtitle">Explore Exotic Islands</h3>
            <p class="gameplay-text">
              Unlock new destinations filled with secrets and rewards.
            </p>
          </div>
        </li>
        <li class="swiper-slide gameplay-item">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img3.jpg"
            srcset="
              ./img/gameplay/gameplay-img3.jpg    1x,
              ./img/gameplay/gameplay-img3@2x.jpg 2x
            "
            alt="image of pirate treasure"
            loading="lazy"
          />
          <div class="gameplay-content">
            <h3 class="gameplay-subtitle">Collect Pirate Treasures</h3>
            <p class="gameplay-text">
              Find rare gems, gold, maps, and valuable artifacts.
            </p>
          </div>
        </li>
        <li class="swiper-slide gameplay-item">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img4.jpg"
            srcset="
              ./img/gameplay/gameplay-img4.jpg    1x,
              ./img/gameplay/gameplay-img4@2x.jpg 2x
            "
            alt="image of a cannon"
            loading="lazy"
          />
          <div class="gameplay-content">
            <h3 class="gameplay-subtitle">Use Powerful Boosters</h3>
            <p class="gameplay-text">Progress Through New Adventures.</p>
          </div>
        </li>
        <li class="swiper-slide gameplay-item">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img5.jpg"
            srcset="
              ./img/gameplay/gameplay-img5.jpg    1x,
              ./img/gameplay/gameplay-img5@2x.jpg 2x
            "
            alt="image of the road to the tower"
            loading="lazy"
          />
          <div class="gameplay-content">
            <h3 class="gameplay-subtitle">Progress Through New Adventures</h3>
            <p class="gameplay-text">
              Discover increasingly challenging chapters and exciting locations.
            </p>
          </div>
        </li>
      </ul>
    </div>
    <div class="gameplay-wrap-desc">
      <ul class="gameplay-desc-list">
        <li class="gameplay-item">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img1.jpg"
            srcset="
              ./img/gameplay/gameplay-img1.jpg    1x,
              ./img/gameplay/gameplay-img1@2x.jpg 2x
            "
            alt="image of a colorful puzzle"
          />
          <div class="gameplay-content">
            <h3 class="gameplay-subtitle">Complete Match-3 Levels</h3>
            <p class="gameplay-text">
              Solve colorful puzzles with unique objectives.
            </p>
          </div>
        </li>
        <li class="gameplay-item">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img2.jpg"
            srcset="
              ./img/gameplay/gameplay-img2.jpg    1x,
              ./img/gameplay/gameplay-img2@2x.jpg 2x
            "
            alt="image of an exotic islands"
            loading="lazy"
          />
          <div class="gameplay-content">
            <h3 class="gameplay-subtitle">Explore Exotic Islands</h3>
            <p class="gameplay-text">
              Unlock new destinations filled with secrets and rewards.
            </p>
          </div>
        </li>
        <li class="gameplay-item">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img3.jpg"
            srcset="
              ./img/gameplay/gameplay-img3.jpg    1x,
              ./img/gameplay/gameplay-img3@2x.jpg 2x
            "
            alt="image of pirate treasure"
            loading="lazy"
          />
          <div class="gameplay-content">
            <h3 class="gameplay-subtitle">Collect Pirate Treasures</h3>
            <p class="gameplay-text">
              Find rare gems, gold, maps, and valuable artifacts.
            </p>
          </div>
        </li>
      </ul>
      <div class="section-bg-img gameplay-octopus-two"></div>
      <div class="section-bg-img gameplay-bubbles"></div>
      <ul class="gameplay-desc-list index">
        <li class="gameplay-item">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img4.jpg"
            srcset="
              ./img/gameplay/gameplay-img4.jpg    1x,
              ./img/gameplay/gameplay-img4@2x.jpg 2x
            "
            alt="image of a cannon"
            loading="lazy"
          />
          <div class="gameplay-content">
            <h3 class="gameplay-subtitle">Use Powerful Boosters</h3>
            <p class="gameplay-text">Progress Through New Adventures.</p>
          </div>
        </li>
        <li class="gameplay-item">
          <img
            class="gameplay-img"
            src="./img/gameplay/gameplay-img5.jpg"
            srcset="
              ./img/gameplay/gameplay-img5.jpg    1x,
              ./img/gameplay/gameplay-img5@2x.jpg 2x
            "
            alt="image of the road to the tower"
            loading="lazy"
          />
          <div class="gameplay-content">
            <h3 class="gameplay-subtitle">Progress Through New Adventures</h3>
            <p class="gameplay-text">
              Discover increasingly challenging chapters and exciting locations.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
