<header class="header">
  <div class="wrapper">
    <a class="logo" href="./index.html" aria-label="Site logo">
      <svg width="48" height="36">
        <use href="./img/sprite.svg#icon-logo"></use>
      </svg>
      Pirate Match
    </a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gameplay">Gameplay</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#download">Why Download</a>
        </li>
      </ul>
    </nav>
    <a
      class="btn-link btn-play"
      target="_blank"
      href="https://play.google.com/store/apps/details?id=com.tactilegames.piratematch&hl=en&gl=us"
    >
      Play on Google Play
    </a>
    <div class="burger-wrapper">
      <button type="button" class="burger-btn" data-action="open">
        <svg width="44" height="44">
          <use href="./img/sprite.svg#icon-burger"></use>
        </svg>
      </button>

      <div class="burger" data-visible="close">
        <div class="burger-menu">
          <div class="burger-content">
            <ul class="burger-nav-list">
              <li class="burger-nav-item">
                <a class="burger-nav-link" href="#about" data-menu-link>
                  About
                </a>
              </li>
              <li class="burger-nav-item">
                <a class="burger-nav-link" href="#gameplay" data-menu-link>
                  Gameplay
                </a>
              </li>
              <li class="burger-nav-item">
                <a class="burger-nav-link" href="#gallery" data-menu-link>
                  Gallery
                </a>
              </li>
              <li class="burger-nav-item">
                <a class="burger-nav-link" href="#reviews" data-menu-link>
                  Reviews
                </a>
              </li>
              <li class="burger-nav-item">
                <a class="burger-nav-link" href="#download" data-menu-link>
                  Why Download
                </a>
              </li>
            </ul>
            <a
              class="btn-link"
              target="_blank"
              href="https://play.google.com/store/apps/details?id=com.tactilegames.piratematch&hl=en&gl=us"
            >
              Play on Google Play
            </a>
          </div>
          <button type="button" class="btn-close" data-action="close">
            <svg width="16" height="16" class="icon">
              <use href="./img/sprite.svg#icon-close"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
