<section class="hero">
  <div class="container hiro-wrap">
    <div class="hiro-content">
      <a
        class="logo section-tag hiro-tag"
        href="./index.html"
        aria-label="Site logo"
      >
        <svg width="24" height="17">
          <use href="./img/sprite.svg#icon-logo"></use>
        </svg>
        Pirate Match
      </a>
      <h1 class="hiro-title">Set Sail For The Ultimate Puzzle Adventure.</h1>
      <p class="hiro-text">
        Match colorful gems, discover legendary treasures, and become the
        captain of your own pirate journey.
      </p>
    </div>
    <a
      class="google-play-link hiro-link"
      target="_blank"
      href="https://play.google.com/store/apps/details?id=com.tactilegames.piratematch&hl=en&gl=us"
    >
      Play on Google Play
    </a>
  </div>
</section>
