<section class="section reviews section-bg" id="reviews">
  <div class="container">
    <p class="section-tag">Reviews</p>
    <h2 class="section-title reviews-title">What players are saying</h2>
    <div class="reviews-wrap">
      <ul class="reviews-list">
        <li class="reviews-item">
          <div class="reviews-individual-container">
            <h3 class="reviews-subtitle">SeaExplorer</h3>
            <ul class="stars-list">
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
          </div>
          <p class="reviews-dscr">
            "A fantastic pirate adventure with beautiful visuals."
          </p>
        </li>
        <li class="reviews-item">
          <div class="reviews-individual-container">
            <h3 class="reviews-subtitle">TreasureHunter</h3>
            <ul class="stars-list">
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
          </div>
          <p class="reviews-dscr">
            "The puzzle mechanics are smooth and incredibly satisfying."
          </p>
        </li>
        <li class="reviews-item">
          <div class="reviews-individual-container">
            <h3 class="reviews-subtitle">CaptainJack</h3>
            <ul class="stars-list">
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
          </div>
          <p class="reviews-dscr">
            "Every new island feels exciting to discover."
          </p>
        </li>
      </ul>
      <ul class="reviews-list">
        <li class="reviews-item">
          <div class="reviews-individual-container">
            <h3 class="reviews-subtitle">MatchMaster</h3>
            <ul class="stars-list">
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
          </div>
          <p class="reviews-dscr">
            "Great progression, colorful graphics, and relaxing gameplay."
          </p>
        </li>
        <li class="reviews-item">
          <div class="reviews-individual-container">
            <h3 class="reviews-subtitle">OceanGamer</h3>
            <ul class="stars-list">
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
              <li class="stars-item">
                <svg class="stars-icon" width="16" height="16">
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
          </div>
          <p class="reviews-dscr">
            "Perfect combination of pirates and match-3 puzzles."
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
