/* Styles for Mobile devices */

.download-wrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.download-dscr {
  text-align: center;
  color: var(--color-secondary);
}

.download-link {
  margin: 0 auto;
}
