/* Styles for Mobile devices */
.footer {
  background-color: var(--background-color-main);
}

.footer-wrap {
  position: relative;
  width: 100%;
  max-width: 375px;
  overflow: visible;
  padding-top: 60px;
  padding-bottom: 70px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--background-color-additional);
  margin: 0 auto;
}

.screen {
  position: absolute;
  top: 0;
  right: 72px;
  width: 100px;
  height: 50px;
  z-index: 100;
  background-color: var(--background-color-main);
}

.footer-logo {
  margin-left: 24px;
  margin-bottom: 24px;
}

.footer-divider {
  border: var(--border-divider);
  max-width: 335px;
  margin: 0 auto;
  margin-bottom: 12px;
}

.copy {
  margin-bottom: 22px;
}

.footer-legal {
  display: flex;
  justify-content: space-between;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.legal-link {
  font-family: 'Quicksand', sans-serif;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .footer-wrap {
    max-width: 1440px;
    padding-top: 100px;
    padding-bottom: 110px;
  }

  .screen {
    top: 0;
    right: 443px;
    width: 200px;
    height: 100px;
  }

  .footer-logo {
    margin-left: 0px;
  }

  .footer-divider {
    max-width: 1200px;
    margin-bottom: 34px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
  }

  .copy {
    margin-bottom: 0;
  }

  .footer-legal {
    gap: 95px;
  }
}
