/* Styles for Mobile devices */
.header {
  position: fixed;
  z-index: 800;
  padding-top: 60px;
  padding-bottom: 20px;
  width: 100%;
  max-width: 375px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--background-color-header);
}

.nav {
  display: none;
}

.btn-play {
  display: none;
}

.burger-btn,
.btn-close {
  background-color: transparent;
  border: none;
}

.burger-btn {
  fill: var(--color-icon);
  padding: 0;
  display: block;
}

.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 16px;
  stroke: var(--color-icon);
}

.burger {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  transform: translateY(-100%);
  transition:
    transform 450ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 450ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 450ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

[data-visible='open'] {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateY(0);
}

[data-visible='close'] {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.burger-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 246px;
  height: 424px;
  border-radius: 20px;
  background-color: var(--background-color-main);
}

.burger-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 68px 20px 20px;
}

.burger-nav-link {
  display: block;
  padding: 14px 16px;
  color: var(--color-secondary);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .header {
    padding-top: 32px;
    padding-bottom: 16px;
    max-width: 100%;
    left: 0;
    transform: none;
  }

  .nav {
    display: block;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .nav-link {
    padding: 14px 16px;
    color: var(--color-secondary);
    font-size: 20px;
    line-height: 1.2;
    transition: color var(--transition-efect);
  }

  .nav-link:hover {
    color: var(--color-icon);
  }

  .btn-play {
    display: block;
  }

  .burger-wrapper {
    display: none;
  }
}
