/* Styles for Mobile devices */
.legal-body {
  background-color: var(--background-color-header);
  color: var(--color-secondary);
}

.back-wrap {
  padding-top: 16px;
  padding-bottom: 16px;
  fill: var(--color-secondary);
}

.back-text {
  display: none;
}

.legal-section {
  padding-top: 28px;
  padding-bottom: 32px;
}

.legal-wraper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.legal-title-elem {
  text-align: start;
  margin-bottom: 24px;
}

.legal-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.29;
  margin-bottom: 24px;
}

.individual {
  margin-bottom: 48px;
}

ul.text-list {
  list-style-type: disc;
  padding-left: 24px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .back-text {
    display: block;
  }

  .back-wrap {
    display: flex;
    gap: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .legal-section {
    padding-top: 48px;
    padding-bottom: 144px;
  }

  .legal-wraper {
    gap: 48px;
  }

  .legal-title-elem {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.09;
  }
}
