/* Styles for Mobile devices */
.body-section {
  background-color: var(--background-color-header);
}    

.legal-wraper {
  color: var(--color-secondary);
  padding-top: 24px;
  padding-bottom: 0;    
  width: 335px;
}

.container.legal-wraper.last-element {
  padding-bottom: 120px;
}    

.back-link {
  display: none;
}

.back-text {
   display: none;
}

.legal-title-elem {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  color: var(--color-secondary);
  padding-bottom: 24px;
}

.legal-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 129%;
  color: var(--color-secondary);
  padding-bottom: 24px;
}

.legal-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  color: var(--color-secondary);
}

.legal-subtitle.individual {
  padding-bottom: 24px;
} 

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .legal-wraper {
    padding: 48px 120px 0 120px;
    width: 1200px;
  }

  .legal-title-elem {
    font-weight: 600;
    font-size: 64px;
    line-height: 109%;
  }

  .container.legal-wraper.last-element {
    padding-bottom: 144px;
  }

  .back-link {    
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    transition: background-color var(--transition-effect);
    background: var(--background-color-link);
    border-radius: 16px;
    padding: 12px 16px;
    text-decoration: none;
  }

  .back-link:hover {
    background-color: var(--background-color-hover);
  }
  
  .back-text {
    display: flex;
    font-weight: 600;
    font-size: 18px;
    color: var(--color-secondary);
  }

  .swiper-icon {
    padding-right: 0;
  }
}
