/* Styles for Mobile devices */
.legal-section {
  background-color: var(--background-color-header);
}

.legal-wraper {
  color: var(--color-secondary);
  padding-top: 24px;
  padding-bottom: 0;
}

.container.legal-wraper.last-element {
  padding-bottom: 120px;
}

.back-wrap {
  padding-top: 16px;
  padding-bottom: 16px;
  fill: var(--color-secondary);
}

.back-text {
  display: none;
}

.legal-title-elem {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  color: var(--color-secondary);
  padding-bottom: 24px;
}

.legal-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 129%;
  color: var(--color-secondary);
  padding-bottom: 24px;
}

.legal-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 125%;
  color: var(--color-secondary);
}

.legal-subtitle.individual {
  padding-bottom: 24px;
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .back-text {
    display: block;
  }

  .back-wrap {
    display: flex;
    gap: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .legal-wraper {
    padding-top: 48px;
    padding-bottom: 0;
  }

  .legal-title-elem {
    font-weight: 600;
    font-size: 64px;
    line-height: 109%;
  }

  .container.legal-wraper.last-element {
    padding-bottom: 144px;
  }
}
