/* Styles for Mobile devices */
.reviews-title {
  margin-top: 12px;
  margin-bottom: 48px;
}

.reviews-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reviews-item {
  border-radius: 16px;
  padding: 16px;
  max-width: 327px;
  width: 100%;
  min-height: 114px;
  background: var(--background-color-additional);
  color: var(--color-main);
}

.reviews-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
}

.reviews-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.reviews-individual-container {
  display: flex;
  gap: 8px;
  align-items: center;
}

.stars-list {
  display: flex;
  gap: 1px;
}

.reviews-dscr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .reviews-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }

  .reviews-list {
    flex-direction: row;
    gap: 40px;
  }
}
